*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body
{
	font-family: 'Roboto', sans-serif;
	scroll-behavior: smooth;
}
header
{
	width: 100%;
	height: 100vh;
	background: url(img/photo1.jpg) no-repeat;
	background-size: cover; 
	text-align: center;
}
header nav 
{
	width: 80%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	padding: 2em;
}
header nav menu{cursor: pointer;}
header nav figure img
{
	width: 70%;
}
header h1, h3, p{color: rgba(255,255,255,0.7)}
header h1 {padding-top: 14%; font-size: 5em;}
header h3 {font-size: 3em;}
#headermenu
{
	width: 100%;
	height: 100vh;
	background: rgba(255,255,255,0.9);
	position: absolute;
	right: 0;
	left: 0;
	display: none;
}
#headermenu #close
{
	position: absolute;
	right: 12%;
	top: 0.8em;
	font-size: 2em;
	color: #A21919;
	cursor: pointer;
	font-weight: bold;
}
#navmenu
{
	width: 100%;
	margin: 10% auto;
	text-align: center;
}
#navmenu ul li
{
	border-bottom: 1px solid #BFBEBE;
	padding: 1em;
}
#navmenu ul li a
{
	font-weight: 700;
	text-transform: uppercase;
	color: #464545;
	text-decoration: none;
	font-size: 2em;
	line-height: 2em;
}
#navmenu ul li:hover
{
	background: rgba(255,255,255,0.7);
	border-bottom: 1px solid #AE0C0C;
	transition: 0.5s;
}
#navmenu ul li a:hover
{
	color: #AE0C0C;
	transition: 0.5s;
}
#Profile
{
	width: 100%;
	height: auto;
	text-align: center;
	padding: 2em;
}
#Profile img
{
	width: 20%;
}
#Profile h1
{
	font-weight: 100;
	font-size: 4em;
	text-transform: uppercase;
}
#Profile .wrapper_rofile
{
	width: 80%;
	margin: 2% auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
#Profile .wrapper_rofile .box_profile
{
	flex-basis: 21%;
	/*height: 260px;*/
	background: #BEFFDD;
	margin-bottom: 2em;
	padding: 1em;
}
#Profile .wrapper_rofile img 
{
	width: 100%;
	border: 3px solid white;
}
#Profile .wrapper_rofile .box_profile h2
{
	color: #385144;
}
#Profile .wrapper_rofile .box_profile p
{
	color: #385144;
}
#Profile .wrapper_rofile .box_profile:hover
{
	box-shadow: 0 0 20px rgba(56,81,68,0.3);
	transform: scale(1.1,1.1);
	transition: 0.5s;
}
#DiscoGraphy
{
	width: 100%;
	height: auto;
	text-align: center;
	padding: 2em;
	background: #ECECEC;
}
#DiscoGraphy img
{
	width: 20%;
}
#DiscoGraphy h1
{
	font-weight: 100;
	font-size: 4em;
	text-transform: uppercase;
	color: #373737;
}
#DiscoGraphy .wrapper_DiscoGraphy
{
	width: 60%;
	margin: 2em auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
#DiscoGraphy .wrapper_DiscoGraphy .box_DiscoGraphy
{
	flex-basis: 32%;
	margin-bottom: 1em;
}
#DiscoGraphy .wrapper_DiscoGraphy .box_DiscoGraphy img
{
	width: 100%;
}
#DiscoGraphy .wrapper_DiscoGraphy .box_DiscoGraphy p
{
	color: #373737;
}

#Gallery {
    width: 450px;
    margin: 4em auto;   
    background: white;
    box-shadow: 0 0 3px #ccc;
}

#Gallery h1 {
    font-weight: 100;
	font-size: 4em;
	text-transform: uppercase;
	color: #373737;
	text-align: center;
	margin-bottom: 20px;
}

.slider {
    position: relative;
}

.slider input[type=radio] {
    display: none;
}

.slider-inner {
    overflow: hidden;
}

.slider-slides{
    width: 300%;
    transition: transform .8s ease;
}

.slider-slides img {
    float: left;
    width: 450px;
    height: 320px;    
}

.slider-controls {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -40px;
    z-index: 100;
    text-align: center;
}

.slider-controls label {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 3px;
    background: #ccc;
    cursor: pointer;   
    border: 4px solid white;
    border-radius: 50%;    
    box-shadow: 0px 0px 2px rgba(0,0,0,.8);     
    transition: background-color .2s;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] { 
    background-color: #666;
}

#btn-1:checked ~ .slider-inner .slider-slides{
    transform: translate(0);
}
#btn-2:checked ~ .slider-inner .slider-slides{
    transform: translate(-450px);
}
#btn-3:checked ~ .slider-inner .slider-slides{
    transform: translate(-900px);
}
#Video
{
	width: 100%;
	height: auto;
	text-align: center;
	padding: 2em;	
	background: #E5FEE9
}
#Video img
{
	width: 20%;
}
#Video h1
{
	font-weight: 100;
	font-size: 4em;
	text-transform: uppercase;
}
#Video iframe
{
	width: 560px;
	height: 315px;
	padding-bottom: 2em;
}
#Schedule
{
	width: 100%;
	height: auto;
	text-align: center;
	padding: 2em;	
}
#Schedule img
{
	width: 20%;
}
#Schedule h1
{
	font-weight: 100;
	font-size: 4em;
	text-transform: uppercase;
}
#Schedule .wrapper_Schedule
{
	width: 80%;
	margin: 2% auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

}
#Schedule .wrapper_Schedule .Schedule_box
{
	flex-basis: 48%;
}

#Schedule .wrapper_Schedule .Schedule_box p
{
	color:#3A3A3A;
	text-align: left;
	padding: 1.5em;
	border-bottom: 1px solid #B8B8B8; 
	margin: 20px;
}
#Schedule .wrapper_Schedule .Schedule_box img 
{
	width: 80%;
}
footer
{
 width: 100%;
 padding: 1.5em;
 text-align: center;
 background: #500202;
 color: white;
}
footer img
{
	width: 100px;
}
#toTop 
{
 width: 50px;
background: rgba(33, 150, 83, 0.8);
background: #940D0D;
 text-align:center;
 padding:1.2em;
 position:fixed;
 bottom:10px; 
 right:10px;
 cursor:pointer;
 display:none;
 color:#333;
 font-family:verdana;
 font-size:11px;
}
#toTop i
{
	color: white;
	font-size: 2em
}
/* page 2 */
#Biography
{
	width: 60%;
	margin: 5% auto;
}
#Biography a 
{
	text-transform: uppercase;
	font-weight: 700;
	color: #500202;
	letter-spacing: 1px;
	font-size: 1.5em;
}
#Biography a:hover
{
	color: #BEFFDD;
} 
#Biography .box_bio
{
	width: 100%;
	margin-top: 2em;
	display: flex;
	justify-content: space-between;
}
#Biography .box_bio .bio
{
	flex-basis: 48%;
}
#Biography .box_bio .bio img
{
	width: 100%;	
}

#Biography .box_bio .bio h2
{font-weight: 100;
	font-size: 4em;
	text-transform: uppercase;
}

#Biography .box_bio .bio p
{
	color: #404040;
	padding-top: 2em;
	line-height: 1.5em;
}
/* end page 2 */


/*adaptiv mobile*/
@media screen and (min-width: 320px) and (max-width: 680px) 
{
	header nav
	{
		width: 95%;
		padding-top: 1em;
	}
	header nav figure
	{
		width: 50%;
	}
	#navmenu ul li a
	{
		font-size: 1.5em;
	}
	header h1 {padding-top: 14%; font-size: 4em;}
	#Profile .wrapper_rofile
	{
		flex-direction: column;
	}
	#DiscoGraphy h1
{
	font-weight: 100;
	font-size: 2em;
	text-transform: uppercase;
}
	#DiscoGraphy .wrapper_DiscoGraphy
	{
		flex-direction: column;
	}
	#Gallery
	{
		 width: 320px;
	}
	.slider-slides img {
    float: left;
    width: 320px;
    height: 240px;    
    }
    #btn-1:checked ~ .slider-inner .slider-slides{
    transform: translate(0);
	}
	#btn-2:checked ~ .slider-inner .slider-slides{
	    transform: translate(-320px);
	}
	#btn-3:checked ~ .slider-inner .slider-slides{
	    transform: translate(-640px);
	}
	#Video iframe
	{
		width: 320px;
		height: 195px
	}
	#Schedule h1
	{
		font-size: 3em;
	}
	#Schedule .wrapper_Schedule
	{
		
	}
	#Biography
	{
		width: 80%;
	}
	#Biography .box_bio
	{
		flex-direction: column;
	}
	#Biography .box_bio .bio h2 
	{
		font-size: 2em;
		padding-top: 0.5em;
	}
	#Biography .box_bio .bio p
	{
		padding-top: 0.5em;
	} 
}
